a:link {
  color: blue;
}

a:visited {
  color: purple;
}

a:hover {
  color: orange;
}

a:active {
  color: red;
}

nav ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 5px;
  margin: 5px 0;
}
